
:root{
    --primary: #3498DB;
    --secondary: #5DADE2;
    --third: #85C1E9;
}
body{
    overflow-x: hidden;
    background-color: var(--primary);

}
main form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left:4rem;
    padding-right:4rem;
    color:white;
    background-color: var(--primary);
}
#titre-liste{
    font-weight: bold;
    font-size: 1rem;
    margin:0;
    text-align:right;
}

#searchbar svg{
    height:60px;
}



.input-search {
    border-radius: 30px;
    border: 1px solid;
    padding:0.8rem;
    width:200px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:1rem;
    padding:1rem;
    border-radius: 30px;
    color:white;
    background-color: var(--secondary);
}

.carte {
    display: flex;
    flex-direction: column;
    max-width: 500px; 
}

.card-text {
    display: flex;
    max-height: 200px;
    height: 200px;
    flex-wrap: wrap;
}
.movie-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.description{
    width: 250px;
    height:250px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } 
.no-result{
    font-weight: bold;
    text-align: center;
    display: flex;
    padding:3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:400%;
    height:40vh
}
.dot-list{
    display:flex;
    justify-content: center;
    width:90%;
    align-items: center;
}
.dot{
    margin:10px;
    color:white;
    font-weight: bold;
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--secondary);
}
.dots{
    display:flex;
}
.dot-action{
    background-color: var(--third);
}
.order-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:90%;
    padding:10px;
}
.order-list select{
    background-color: var(--third);
    padding-right:80px;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
    outline: none;
    border:none;
}
.do-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.order-list select option{
    text-align: center;
    margin:150Px;
    outline: none;
    border:none;
}
.order-list select option{
    background: transparent !important
}

.carte{
    width:20vw;
    display:flex;
    flex-direction:column; 
    align-items:center;
}
.carte .title{
    font-size:1.1rem;
    width:100%;
    text-align: center;
    font-weight:bold;
    margin:0;
    height:50px
}

.carte img{
    height:320px
}
.more{
    background-color: var(--third);
    color:white;
    font-weight: bold;
    font-size:1.2rem;
    padding:0.8rem;
    margin:30px;
    border-radius:30PX;
    text-decoration: none;
}
.more:hover{
    color:aliceblue;
}
.movie-details{
    background-color: var(--secondary);
    width:80%;
    padding:3rem;
    color:white;
    display:flex;
    border-radius:30px;
    margin:30px;
    flex-direction: column;
}

.title{
    font-weight: bold;
    font-size:1.6rem;
    width:100%;
    text-align: center;
}
.subtitle{
    margin:10px;
    font-size: 1.2rem;
}
.movie-description{
    font-size: 1.2rem;
    background-color: var(--primary);
    border-radius: 30px;
    width:100%;
    padding:1rem;
    margin:10px;
}
.right{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
}
.video-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.genre-list{
    padding:0
}
.genre-list p{
    margin:0
}
.description-right{
    height:100%
}
.details{
    display: flex;
    justify-content: space-around;
}
.more-details{
    background-color: var(--primary);
    margin:10px;
    border-radius: 20px;
    display: flex;
    padding:20px;

}
.langages-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-icon{
    height:15px;
    width:30px;
    margin:2px
}

.infos-cast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
}
.actor{
    background: var(--primary);
    padding:1rem;
    width:180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}
.actor-img{
    height:120px
}
.actor-name{
    height:30px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width:100%
}
.actor-role{
    height:30px;
    font-size: 0.8rem;
    text-align: center;
    width:100%;
}

.change-info{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: flex-end;
}
.btn-movie{
    background-color: var(--third);
    padding:0.5rem;
    margin-left:20px;
    width:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:30px
}
.btn-movie p{
    margin:0
}